#sudo vim /lib/systemd/system/studio-upload.service
#sudo systemctl daemon-reload
#sudo systemctl enable studio-upload.service
#sudo systemctl start studio-upload.service
#sudo systemctl restart studio-upload.service
#sudo systemctl status studio-upload.service
#sudo journalctl -f --no-pager -n 1000 --output=cat -u studio-upload

[Unit]
Description=studio-upload Service
After=multi-user.target
Conflicts=getty@tty1.service
StartLimitBurst=1000000000
StartLimitIntervalSec=1000000000

[Service]
Type=simple
User=film
ExecStart=/usr/bin/python3 -u /home/film/studio-app/upload.py
StandardInput=tty-force
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=studio-upload
Restart=always

[Install]
WantedBy=multi-user.target