#sudo vim /lib/systemd/system/studio-app.service
#sudo systemctl daemon-reload
#sudo systemctl enable studio-app.service
#sudo systemctl start studio-app.service
#sudo systemctl status studio-app.service
#sudo journalctl -f --no-pager --output=cat -u studio-app

[Unit]
Description=studip-app Service
After=multi-user.target
Conflicts=getty@tty1.service
StartLimitBurst=1000000000
StartLimitIntervalSec=1000000000

[Service]
Type=simple
User=film
ExecStart=/usr/bin/python3 -u /home/film/studio-app/server.py
StandardInput=tty-force
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=studip-app
Restart= always

[Install]
WantedBy=multi-user.target