[Unit]
Description=studio-convert Service
After=docker.service
Conflicts=getty@tty1.service
StartLimitBurst=1000000000
StartLimitIntervalSec=1000000000

[Service]
Type=simple
User=film
ExecStart=/usr/bin/python3 -u /home/film/studio-app/convert.py
StandardInput=tty-force
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=studio-convert
Restart=always

[Install]
WantedBy=multi-user.target